# Build artifacts
/target

# Ignore everything by default
*

# Allow directories so Git can see inside them
!*/

# Allow typical source & config files
!*.rs
!*.toml
!*.lock
!*.md
!*.yml
!*.yaml
!*.json
!*.txt
!*.gitignore
!*.gitattributes
!*.gitmodules
!LICENSE
!Makefile
!Dockerfile
!Procfile
!Jenkinsfile
!Gemfile
!Rakefile

